/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}

.content1 { grid-area: content1; }
.content2 { grid-area: content2; }
.content3 { grid-area: content3; }
.content4 { grid-area: content4; }
.content5 { grid-area: content5; }
.content6 { grid-area: content6; }
.content7 { grid-area: content7; }
.content8 { grid-area: content8; }
.content9 { grid-area: content9; }


.container{
     height: 100vh;
    width: 100vw; 
    background-color: rgb(53, 40, 40);
    padding: 30px;
    display: grid;
    grid-template-areas:
    'content1 content2 content3 content4'
    'content1 content5 content5 content4'
    'content6 content5 content5 content7'
    'content8 content8 content9 content7';
    gap: 10px;
    
  

}
.item{
    background-color: rgb(94, 94, 194);
    border: 5px hidden black;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 

}
